.my-footer {
  font-size: 12pt;
  position: fixed;
  left: 5px;
  bottom: 0;
  width: 100%;
  background-color: #2B2453;
  color: white;
  text-align: left;
}

.remark-slide-number {
  font-size: 12pt;
  margin-bottom: -10px;
  margin-right: 5px; 
  color: #FFFFFF; /* white */
  opacity: 1; /* default: 0.5 */
}


ul {
  list-style-type: square;
}
